<%= form_with model: @blog_post do |form|%>
    <% if form.object.errors.any?%>
        <div>
            <% form.object.errors.full_messages.each do |message|%>
            <div> <%= message %> </div>
            <%end%>
        </div>
    <%end%>

    <div class ="field form-group">
    <%#= form.label :title, style: "display: block"%>
    <%= label_tag "title", "Blog Title" %>
    <%= form.text_field :title, class:"form-control"%>
    </div>

    <div class ="field form-group">
    <%#= form.label :body, style: "display: block"%>
    <%= label_tag "body", "Body of Blog" %>
    <%= form.text_area :body, class:"form-control"%>
    </div>

    <div>
        <%= form.label :published_at%>
        <%= form.datetime_select :published_at, include_blank: true %>
    </div>

    <%= form.submit class:"btn btn-dark"%>

<% end %>


