<%= form_with(model: @blog_post, multipart: true) do |form|%>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% if form.object.errors.any?%>
        <div>
            <% form.object.errors.full_messages.each do |message|%>
            <div> <%= message %> </div>
            <%end%>
        </div>
    <%end%>

    <div class ="field form-group">
    <%#= form.label :title, style: "display: block"%>
    <%= label_tag "title", "Blog Title" %>
    <%= form.text_field :title, class:"form-control"%>
    </div>

    <div class ="field form-group">
    <%#= form.label :body, style: "display: block"%>
    <%= label_tag "content", "Blog Content" %>
    <%= form.rich_text_area :content, class:"form-control"%>
    </div>

    <div class ="field form-group">
        <%= form.label :published_at%>
        <%= form.datetime_select :published_at, include_blank: true %>
        <%= button_tag "Set to current Date and Time", type: "button", onclick: "insertCurrentDateTime()" %>

    </div>

    <%= form.submit class:"btn btn-dark"%>

<% end %>


