<h1> <%= @blog_post.title%> </h1>
<%= @blog_post.body%>
<br><br/>
<div>
 <% if user_signed_in?%>
        <%= button_to "Edit", edit_blog_post_path, method: :get %> 
        <%= button_to "Delete", blog_post_path, method: :delete, class: "delete-button", onclick: "return confirm('Are you sure?');" %>
    <%end%>


<%= button_to "Back", root_path, method: :get%>

</div>